<%-include('./header.ejs')  %>

<br></br>
<br></br>
<br></br>
<div class="container-fluid">
  <div class="container">
    <img src="https://doi-ds.org/images/upload/contact_us.jpg" class="A6 w-100">
  </div>

</div>
  <div id="k-body"><!-- content wrapper -->
    
    <div class="container"><!-- container -->
      
        <div class="row"><!-- row -->
          </div>
            
          <div class="row no-gutter"><!-- row -->
              
              <div class="col-lg-12 col-md-12"><!-- doc body wrapper -->
                
                  <div class="col-padded"><!-- inner custom column -->
                  
                    <div class="row gutter"><!-- row -->
                      
                        <div class="col-lg-12 col-md-12">
                  
                  
                 <div class="mapouter" align="center"><div class="gmap_canvas"><iframe width="1080" height="407" id="gmap_canvas" src="https://maps.google.com/maps?q=madhav%20institute%20of%20Technology%20gwalior&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=&amp;output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.crocothemes.net"></a></div><style>.mapouter{text-align:right;height:407px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:407px;width:1080px;}</style></div>
                             <!-- <div id="k-contact-map" class="clearfix"><!-- map -->
                                  <!--<div 
                                  id="g-map-1" 
                                  class="map" 
                                  data-gmaptitle="Contact" 
                                  data-gmapzoom="15" 
                                  data-gmaplon="78.207025" 
                                  data-gmaplat="26.230219" 
                                  data-gmapmarker="" 
                                  data-cname="Madhav Institute Of Technology & Science" 
                                  data-caddress="Race Course Road, Gola ka Mandir" 
                                  data-ccity="Gwalior" 
                                  data-cstate="M.P." 
                                  data-czip="474005" 
                                  data-ccountry="India">
                                  </div>
                              </div> -->
                              
                              
                              
                              <div class="news-body">
                              
                                  <p class="call-out" align="justify">
                                 </p><div class="col-lg-8 col-md-8"><!-- widgets column center -->
              
                  <div class="col-padded col-naked">
                  
                      <ul class="list-unstyled clear-margins"><!-- widgets -->
                      
                        <li class="widget-container widget_recent_news"><!-- widgets list -->
                  
                               <!-- <h1 class="title-widget">Contact</h1> -->
                              
                              <!-- <div itemscope="" itemtype="http://data-vocabulary.org/Organization">  -->
                              
                                <!-- <h2 class="title-median m-contact-subject" itemprop="name">Madhav Institute of Technology &amp; science</h2> -->
                              
                                <div class="m-contact-address" itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address">
                                  <!-- <span class="m-contact-street" itemprop="street-address"><strong>Gola ka Mandir, Gwalior - 474005, Madhya Pradesh, India</strong> </span> -->
  
                       
                                  
                                </div>
                                   
                                <div class="m-contact-address" itemprop="address" itemscope="" itemtype="http://data-vocabulary.org/Address">
                 
                 
              
                    
            
                
                
                                  
                              <!-- </div> -->
                              <!-- <hr> -->
              <!-- <h6>Feedback or Suggestion!</h6> 
                                  
                                  <form id="suggestionfrom" name="first" method="post" action="vercontfeed.php">
                                      
                                      
                                      
                                      
                                      <div class="row"><!-- starts row -->
                                         <!-- <div class="form-group col-lg-12">
                                              <label for="contactSubject"><span class="required">*</span>Name</label>
                                              <input type="text" aria-required="true" size="30" value="" required name="feedname" id="contactSubject" class="form-control" pattern="[a-zA-Z0-9\s]+"  title="Special Characters not Allowed" maxlength="25"/>
                                          </div>
                    
                    
                    
                    <div class="form-group col-lg-12">
                                              <label for="contactSubject"><span class="required">*</span>Email id</label>
                                              <input type="email" aria-required="true" size="30" value="" required name="feedmail" id="contactSubject" class="form-control"  maxlength="30"/>
                                          </div>
                    
                                      </div><!-- ends row -->
                                      
                                      <!-- <div class="row"><!-- starts row -->
                                          <!--<div class="form-group clearfix col-lg-12">
                                              <label for="comments"><span class="required">*</span>Feedback/ Suggestion</label>
                                              <input type="text" aria-required="true" rows="5"  cols="45" required name="feed" id="comments" class="form-control requiredField mezage" pattern="[a-zA-Z0-9\s]+"  title="Special Characters not Allowed"maxlength="300"></textarea>
                                          </div>
                    
                    <div class="row">
                    <div class="form-group clearfix col-lg-14">
                    <table>
        <tr>
         <td>
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Text Captcha<br />
         </td>
        </tr>
        <tr>
         <td>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="mainCaptcha" oncopy="return false" name="c2" disabled/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" id="refresh" value="Refresh" onclick="Captcha();" oncopy="return false" onpaste="return false" />
         </td>
        </tr>
        <tr>
         <td>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="text" id="txtInput" name="c1"/>    
        </td>
       </tr>
       <tr>
        
      </tr>
    </table></div>
                    </div>
                                          <div class="form-group clearfix col-lg-12 text-right remove-margin-bottom">
                                              <input type="hidden" name="submitted" id="submitted" value="true" />
                                              <input type="submit" value="Send " id="submit" name="submit" onclick="return ValidCaptcha()" class="btn btn-default" />
                                          </div>
                                      </div><!-- ends row -->
                                <!--  </form>
              
                              </div>
                          
                          </div>
                      
                      </div><!-- row end -->
                      
                               
                  
                  </li></ul></div><!-- inner custom column end -->
                  
              </div><!-- doc body wrapper end -->
              
              <div id="k-sidebar" class="col-lg-4 col-md-4"><!-- sidebar wrapper -->
                
                 
                  
              </div><!-- sidebar wrapper end -->
          
          </div><!-- row end -->
      
      </div><!-- container end -->
  
  </div><!-- content wrapper end -->
  </div></div>
  <!-- subfooter end -->
<div id="k-footer"><!-- footer -->
  
    <div class="container" style="background-image: url(../img/backgope.png);"><!-- container -->
      
        <div class="row no-gutter"><!-- row -->
          
            <div class="col-lg-4 col-md-4"><!-- widgets column left -->
          
                  <div class="col-padded col-naked">
                  
                      <!-- <ul class="list-unstyled clear-margins">widgets -->
                      
                        <!-- <li class="widget-container widget_nav_menu">widgets list -->
                  
                              <!-- <h1 class="title-widget">Quicklinks</h1> -->
                              
                              <!-- <ul> -->
                 <!-- <li><a href="http://mitsaadelhi.org/" title="menu item"target="_BLANK" >MITS Alumni Association</a></li> -->
                 
                 <!-- <li><a href="nirf.php" title="menu item" target="_blank">NIRF(National Institutional Ranking Framework)</a></li>  -->
                <!-- <li><a href="tender.php" title="menu item" target="_blank">Tenders</a></li>  -->
                <!-- <li><a href="https://sites.google.com/view/nptelmits/home" title="menu item" target="_blank">NPTEL/Local Chapter</a></li> -->
                <!-- <li><a href="https://sites.google.com/view/startupcellmits/home?authuser=1" title="menu item" target="_blank">Startup Cell</a></li> -->
              <!-- <li><a href="/login/upload/Jan_June_2020_F.pdf" title="menu item" target="_blank">Remedial/Bridge classes Time-Table</a></li>  -->
                
                
              <!--	<li><a href="doc/SSR MITS Gwalior.pdf" title="menu item" target="_blank">NAAC SSR</a></li> -->
                
                <!--<li><a href="doc/DRC (2).pdf" title="menu item"target="_BLANK">Disability Resource Center</a></li>-->
                <!-- <li><a href="/login/upload/innovation2018.pdf" title="menu item" target="_BLANK">Innovation Cell  </a></li> -->
                
                                  <!-- <li><a href="http://moodle.mitsgwalior.in/course/view.php?id=119&amp;section=4&amp;notifyeditingon=1" title="menu item" target="_blank">Online Application form for No Dues</a></li> -->
                <!-- <li><a href="https://sites.google.com/mitsgwalior.in/nispmitsgwl/home  " title="menu item" target="_blank">AICTE National Innovation and Startup Policy</a></li> -->
                <!-- <li><a href="doc/iqac.pdf" title="menu item" target="_blank">Internal Quality Assurance Cell(IQAC)</a></li> -->
                  
                <!-- <li><a href="contactus.php" title="menu item" target="_blank">Feedback/Suggestion</a></li> -->
                  
                                  
                                  
                              </ul>
                  
            </li>
                          
                      </ul>
                       
                  </div>
                  
              </div><!-- widgets column left end -->
      
      
      <div class="col-lg-4 col-md-4"><!-- widgets column left -->
          
                  <div class="col-padded col-naked">
                  
                  <!-- <ul class="list-unstyled clear-margins">widgets -->
                   
                      
                        <li class="widget-container widget_nav_menu"><!-- widgets list -->
                        
                        <!-- <h1 class="title-widget"> </h1> -->
                  
                       <!-- <ul> -->
                           
                       
                       <!-- <li><a href="https://drive.google.com/drive/folders/1U67-Z7DaaK-30R05ge66jWVbL8BhOE4S?usp=sharing" title="menu item" target="_blank"><img src="img/new1.png" height="28" width="28"></img>Examination Seating Plan</a></li> -->
                          <!-- <li><a href="http://moodle.mitsgwalior.in/course/view.php?id=612" title="menu item" target="_blank"><img src="img/new1.png" height="28" width="28"></img>online mental health counselling</a></li>-->
                           <!-- <li><a href="http://ims.mitsgwalior.in/stu/Frm_AlumniRegistration.aspx" title="menu item" target="_BLANK"><img src="img/new1.png" height="28" width="28">Alumni Registration</a></li> -->
<!--  -->
                           <!-- <li><a href="https://www.mitsgwalior.in/commemorative%20days.php" title="menu item" target="_BLANK">National/International Commemorative days/events</a></li> -->

                           <!-- <li><a href="https://sites.google.com/mitsgwalior.in/jirte/home" title="menu item" target="_BLANK">Journal of Innovative Research in Technology &amp; Education</a></li> -->
                 <!-- <li><a href="http://moodle.mitsgwalior.in/course/view.php?id=456&amp;notifyeditingon=1" target="_blank">Seating Plan-Examination June 2022</a></li>  -->
                
                <!-- <li><a href="https://mitsgwalior.in/feedback.php" title="menu item" target="_BLANK">feedback Links</a></li>  -->
                <!-- <li><a href="FAQ.htm" title="menu item" target="_blank">Frequently Asked Questions (FAQs)</a></li> -->
                
          
                
                
              <!--	<li><a href="doc/SSR MITS Gwalior.pdf" title="menu item" target="_blank">NAAC SSR</a></li> -->
                
                <!-- <li><a href="ict.php" title="menu item" target="_blank">ICT/Digital Initiatives by MHRD</a></li>  -->
                
                

                <!-- <li><a href="doc/iqac.pdf" title="menu item" target="_blank">Internal Quality Assurance Cell(IQAC)</a></li> -->
                  
                <!-- <li><a href="contactus.php" title="menu item" target="_blank">Feedback/Suggestion</a></li> -->
                  <!-- <li><a href="archive.php" title="menu item" target="_BLANK">Archives</a></li> -->
                                  
                                  
                              <!-- </ul> -->
                  
                   <!--  <ul class="list-unstyled clear-margins"><!-- widgets -->
                      
                  <!--    	<li class="widget-container widget_recent_news"><!-- widgets list -->
                  
                       <!--        <h1 class="title-widget">Contact Us</h1>
                              
                          <!--    <div itemscope itemtype="http://data-vocabulary.org/Organization"> 
                              
                                <h3 class="title-median m-contact-subject" itemprop="name">Madhav Institute of Technology & science</h3>
                              
                                <div class="m-contact-address" itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
                                
                  <span class="m-contact-street" itemprop="street-address"> Gole ka Mandir </span>
                                  <span class="m-contact-city-region"><span class="m-contact-city" itemprop="locality">Gwalior</span>, <span class="m-contact-region" itemprop="region">Madhya Pradesh</span></span>
                                  <span class="m-contact-zip-country"><span class="m-contact-zip" itemprop="postal-code">474005</span> <span class="m-contact-country" itemprop="country-name">India</span></span>
                                </div>
                                   
                                <div class="m-contact-tel-fax">
                                    <span class="m-contact-tel">Tel: <span itemprop="tel">0751-240-9354</span></span>
                                    <span class="m-contact-fax">Fax: <span itemprop="fax">0751-266-4684</span></span>
                  <span class="m-contact-fax"><a href="http://mitsgwalior.in/contactus.php"></a><span itemprop="fax"></span></span>
                                  
                
                  </div>
                              </div> -->
                              
                            
                  
            </li>
                          
                      </ul>
                       
                  </div>
                  
              </div><!-- widgets column right end -->
              
              <div class="col-lg-4 col-md-4"><!-- widgets column center -->
              
                  <div class="col-padded col-naked">
                  
                      <ul class="list-unstyled clear-margins"><!-- widgets -->
                      
                        <!-- widgets list -->
                  
                              <!-- <h1 class="title-widget">Gallery</h1> -->
                              
                                 
                               
                              <!-- <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/f15.jpg" title="Image 1" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/f15.jpg" alt="Image 2"></a>
                                   </figure>
                                  
                              </div>
                             
                              <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/f16.jpg" title="Image 2" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/f16.jpg" alt="Image 3"></a>
                                  </figure>
                                  
                              </div>
                                
                 <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/f17.jpg" title="Image 3" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/f17.jpg" alt="Image 4"></a>
                                  </figure>
                               
                              </div>
               <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/f18.jpg" title="Image 4" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/f4s.JPG" alt="Image 1"></a>
                                  </figure>
                                  
                              </div>
                           

                              <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/f5.JPG" title="Image 5" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/f5s.JPG" alt="Image 8"></a>
                                  </figure>
                                  
                              </div>
                            
              
                              
                            
                              
                              <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/f6.JPG" title="Image 6" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/f6s.JPG" alt="Image 11"></a>
                                  </figure>
                                 
                              </div>
                              
                              <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/22.jpg" title="Image 7" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/22.jpg" alt="Image 12"></a>
                                  </figure>
                                  
                              </div>
              
              <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/2.jpg" title="Image 8" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/2.jpg" alt="Image 5"></a>
                                  </figure>
                                  
                              </div>
                   <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/12.jpg" title="Image 9" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/12.jpg" alt="Image 6"></a>
                                  </figure>
                                  
                              </div> 
              <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/3.jpg" title="Image 10" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/3.jpg" alt="Image 7"></a>
                                  </figure>
                                 
                            </div>
              <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/f7.JPG" title="Image 11" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/f7s.JPG" alt="Image 1"></a>
                                  </figure>
                                  
                              </div>
                <div class="col-lg-3 col-md-3 col-sm-12">
                                <figure class="gallery-photo-thumb">
                                    <a href="gallery/f8.JPG" title="Image 12" data-fancybox-group="gallery-bssb" class="fancybox"><img src="gallery/f8s.JPG" alt="Image 10"></a>
                                  </figure>
                                  
                              </div>
                -->
                      </ul>
                      
                  </div>
                  
              </div><!-- widgets column center end -->
              
              
          
          </div><!-- row end -->
      
      </div><!-- container end -->
  
  </div><!-- footer end -->
  
  <div id="k-subfooter"><!-- subfooter -->
  
    <div class="container"><!-- container -->
      
        <div class="row"><!-- row -->
          
            <div class="col-lg-12">
              
                <p class="copy-text text-inverse">
                   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<font color="Red">
        
                  </font></p><font color="Red">
              
              </font></div><font color="Red">
      
          
          </font></div><!-- row end --><font color="Red">
      
      </font></div><!-- container end --><font color="Red">
  
  </font></div><font color="Red">    <!-- jQuery -->
  <script src="jQuery/jquery-2.1.1.min.js"></script>
  <script src="jQuery/jquery-migrate-1.2.1.min.js"></script>
  
  <!-- Bootstrap -->
  <script src="bootstrap/js/bootstrap.min.js"></script>
  
  <!-- Drop-down -->
  <script src="js/dropdown-menu/dropdown-menu.js"></script>
  
  <!-- Fancybox -->
<script src="js/fancybox/jquery.fancybox.pack.js"></script>
  <script src="js/fancybox/jquery.fancybox-media.js"></script><!-- Fancybox media -->
  
  <!-- Responsive videos -->
  <script src="js/jquery.fitvids.js"></script>
  
  <!-- Audio player -->
<script src="js/audioplayer/audioplayer.min.js"></script>
  
  <!-- Pie charts -->
  <script src="js/jquery.easy-pie-chart.js"></script>
  
  <!-- Google Maps -->
  <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
  
  <!-- Theme -->
  <script src="js/theme.js"></script>
  


</font></div></div></div>

            
             
  <%-include('./footer.ejs')  %>
